.all-homePost{
    width: 100%;
    display: flex;
}

.post-homePost{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-general{
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    width: 60rem;
    display: flex;
    flex-direction: column;
}


.forPesq-Post{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


.forPesq-Post input{
    border: none;
    background-color: #f2f2f2;
    height: 4rem;
    text-align: center;
    border-radius: 50px;
    width: 50%;
    transition: 1s;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.pesq-Post:focus{
    outline: none;
    transition: 1s;
    width: 70%;
}

.post-homePost{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.seePost-showpostHome{
   
}


.exit-postHome{
    z-index: 1;
    font-weight: 500;
    font-size: 1.4rem;
    position: fixed;
    bottom: 2rem;
    right: 50rem;
    cursor: pointer;
}

.exit-postHome:hover{
    text-decoration: underline;
}

@media screen and (max-width: 800px){
    .exit-postHome{
        z-index: 1;
        font-weight: 500;
        font-size: 1.6rem;
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        cursor: pointer;
    }
}

@media screen and (max-width: 699px){
    
    .post-homePost{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .post-general{
        margin-top: 6rem;
        border-right: none;
        border-left: none;
        height: 100%;
        width: 100%;
    }
}