.all {
  position: relative;
}

.img_darken {
  margin-bottom: 2em;
}

.forgot_pass {
  text-align: right;
  margin: 0.5em;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 24px;
  text-decoration: none;
  font-size: 1.4rem;
}
.forgot_pass:hover {
  text-decoration: underline;
}

.res_login {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -2.5rem;
}

#btn-login{
  align-self: center;
}

@media (min-width: 600px) {
  .all {
    padding: 3rem 3rem;
  }

  .logo_login img {
    width: 100%;
  }

  .logo_login {
    width: 350px;
  }

  .forgot_pass {
    margin-top: 0;
  }

  .res_login {
    bottom: 1rem;
  }
}
