.all {
  position: relative;
}

.form input:nth-child(2) {
  margin-bottom: 1em;
}

.form-container form button a {
  text-decoration: none;
  color: #fff;
}

.forgot-pass {
  text-align: right;
  margin: 0.5em;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 24px;
  text-decoration: none;
}
.forgot-pass:hover {
  text-decoration: underline;
}

.img-darken {
  margin-bottom: 2em;
}

.form-container {
  margin: 0 auto;
  width: 75%;
}

.form {
  display: flex;
  flex-direction: column;
}

.res_login {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -2.5rem;
}

@media (min-width: 600px) {
  .all {
    box-shadow: 1px 2px 6px 2px rgba(0, 0, 0, 0.174);
    padding: 50px 25px;
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
  }

  .logo-login img {
    width: 100%;
  }

  .logo-login {
    width: 350px;
  }

  .form {
    margin: 0 10px;
  }

  .form-container {
    margin: 0 auto;
    width: 100%;
  }

  .forgot-pass {
    margin-top: 0;
  }

  .res_login {
    bottom: 1rem;
  }
}
