.allPost{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.post{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 70%;
    margin-bottom: 2rem;
    /* border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0); */
}

.post:hover{
    background-color: rgb(250, 250, 250);
}

.elem-edit{
    display: flex;
    
    margin-bottom: 1rem;
}

.img_example-Post{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    margin-right:0.5rem;
    margin-left: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.infor-text-p{
    align-items: normal;
}

.infor-text-p h2{
    font-size: 16px;
    margin-top:1rem;
}

.infor-text-p p{
    font-size: 14px;
}

.text{
    max-width: 30rem;
    word-wrap: break-word;
}

.midia{
    width: 80%;
    align-self: center;
}

.document-Post{
    width: 100%;
    height: auto;
}

.document-Post-pdf{
   width: 200px;
   height: 200px;
}
