body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.img_darken{
  mix-blend-mode: darken;
}

.auth{
  text-align: center;
  font-size: 15px;
  margin-top: 32px;
}

.auth:hover{
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-decoration: underline;
}

.auth a{
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

@media (min-width:600px){
  .all {
    box-shadow: 1px 2px 6px 2px rgba(0, 0, 0, 0.174);
    padding: 2.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
  }

  .auth{
    margin-top: 15px;
  }

  .logo_login img {
    width: 100%;
  }

  .logo_login {
    width: 350px;
  }
}