.all-Wall{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.img_example-wall{
    background-color: rgba(92, 208, 97, 0.9);
    border-radius: 50%;
    width: 13rem ;
    height: 13rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

#came_ini{
  width: 4rem;
  height: auto;
}

.NameGrup{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 16px;
    padding-left: 0.5em;
    font-family: inherit;
    outline: none;
    line-height: 26px;
    width: 35rem;
    height: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .NameGrup::placeholder {
    position: absolute;
    bottom: 3px;
  }

  .text-bnt{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn {
    width: 120px;
    height: 4.5rem;
    background: rgba(92, 208, 97, 0.9);
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    transition: 0.3s;
    margin-bottom: 3rem;
    margin-right: 1rem;
  }
  .btn:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .exclu{
    background-color: #f2f2f2;
    border-radius: 20rem;
    width: 6rem;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    left: 48rem;
}

.exclu p{
    font-size: 1.4rem;
}

.exclu p:hover{
    text-decoration: underline;
}

@media screen and (max-width: 699px){
  
}