html, body{
    height: 100%;
}

.all-cre{
    display: flex;
    justify-content: center;
    height: 100vh;
}

.show-wall{
    width: 70%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    border-left: 1px solid rgb(0, 0, 0, 0.1);
    border-right: 1px solid rgb(0, 0, 0, 0.1);
}

.group{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

.img_example_wall{
    background-color: rgba(92, 208, 97, 0.9);
    border-radius: 50%;
    width: 13rem ;
    height: 13rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.nameGroup{
    font-size: 17px;
    margin-bottom: 3rem;
}

@media screen and (max-width: 699px){
    .all-cre{
        flex-direction: column;
        width: 100%;
        justify-content: none;
        align-items: center;
    }
    .show-wall{
        width: 100%;
        margin-top: 27rem;
        flex-direction: column;
        margin-left: 0;
        border-left: none;
        border-right: none;
    }
}