.all-cre{
    display: flex;
    justify-content: center;
}

.show-wall{
    width: 75%;
    height: 0;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.group{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
}

.img_example_wall{
    background-color: rgba(92, 208, 97, 0.9);
    border-radius: 50%;
    width: 13rem ;
    height: 13rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.nameGroup{
    font-size: 17px;
    margin-bottom: 3rem;
}