.all-authGroup{
    box-shadow: 1px 2px 6px 2px rgba(0, 0, 0, 0.174);
    padding: 2.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
}

.img-authGroup{
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    margin-top: 3rem;
    object-fit: cover;
    background: rgba(92, 208, 97, 0.9);
}

#select-Iam {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.482);
    /* padding: 1em; */
    margin-top: 0.8em;
    margin-bottom: 1.5em;
    background-color: transparent;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    width: 70%;
    padding-left: 1rem;
    outline: none;
  }
  
  #select-Iam option:not(:disabled) {
    color: rgba(0, 0, 0, 0.757);
    background-color: #f2f2f2;
  }

.text-authGroup{
    font-size: 18px;
    text-align: center;
    margin-top: 2rem;
    color: rgba(0, 0, 0, 0.877);
}

.text-Err{
  margin-top: 1rem;
  color: red;
  font-size: 1.4rem;
  text-align: center;
}

.form-authGroup{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

#button-authGroup{
    margin-bottom: 0;
}

.authGroup{
    text-align: center;
    font-size: 13px;
    margin-top: 0.5rem;
  }
  
  .authGroup:hover{
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-decoration: underline;
  }
  
  .authGroup a{
    color: rgba(0, 0, 0, 0.753);
    text-decoration: none;
  }



@media (min-width: 600px){
    .all-group{
        box-shadow: 1px 2px 6px 2px rgba(0, 0, 0, 0.174);
        padding: 2.5rem 2.5rem;
        width: 500px;
    }
    
}
