.all-app{
    display: flex;
    flex-direction: column;
}

.nav-app{
    display: flex;
    align-items: center;
}

.img_logo{
    mix-blend-mode: darken;
    width: 20rem;
    margin-left: 7rem;
}

.button-app{
    position: sticky;
    left: 100%;
    margin-right:7rem;
}

#log{
    margin-right:2rem;
}

footer{
    display: flex;
    margin: 10rem 0;
}

.img_logo_end{
    width: 20rem;
    margin: auto;
}

@media (max-width: 950px){

    .img_logo{
        mix-blend-mode: darken;
        width: 15rem;
        margin-left: 1rem;
    }

    .button-app{
        margin-right:1rem;
    }

    #log{
        width: 6rem;
        font-size: 1.6rem;
    }

    #regist-butt{
        width: 6rem;
        font-size: 1.6rem;
    }
    footer{
        display: flex;
        margin: 8rem 0;
    }
}

@media (max-width: 560px){
    .button-app{
        margin-right:1;
    }
    
    #log{
        margin-right: 1rem;
    }
    
    footer{
        display: flex;
        margin: 10rem 1rem;
    }
}