.all-info-I{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
}

.text-in{
    position: sticky;
    margin-top: 2.5rem;
    width: 45rem;
    margin-left: 6rem ;
}

.text-in h2{
    color: #0000008e;
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.text-in p{
    color: #0000007c;
    font-size: 1.9rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.img_example-I{
    width: 45rem;
    height: auto;
    margin-top: 3rem;
    margin-bottom:3rem ;
    margin-right: 6rem;
}

@media (max-width: 950px){
    .text-in{
        margin-top: 1rem;
        width: 47rem;
        margin-right: 3rem;
    }
    
    .text-in h2{
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
    
    .text-in p{
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    .img_example-I{
        width: 38rem;
        
    }
}

@media (max-width: 560px){

    .all-info-I{
        justify-content: none;
        align-items: center;
        justify-content: center;
        height: 70rem;
    }
    
    .text-in{
        display: flex;
        flex-direction: column;
        margin-left: 3rem;
        margin-right: 3rem;
        width: 100%;
        text-align: justify;
    }
    
    .text-in h2{
        font-size: 3.9rem;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        margin-right: 0;
    }
    
    .text-in p{
        font-size: 2.5rem;
        margin-bottom: 1rem;
        margin-right: 0;
        margin-left: 0;
    }
    .img_example-I{
        display: none;
    }
}

