html, body{
    height: 100vh;
}

.all-home-H{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bord-post{
    border-right: 1px solid  rgba(0, 0, 0, 0.1);
    border-left: 1px solid  rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 60rem;
    margin-top: 6rem;
}

.createPost{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid  rgba(0, 0, 0, 0.1);
    height: auto;
    margin-top: 20px;
}

.exit-post{
    z-index: 1;
    font-weight: 500;
    font-size: 1.4rem;
    position: fixed;
    bottom: 2rem;
    right: 40rem;
    cursor: pointer;
}

.exit-post:hover{
    text-decoration: underline;
}

@media screen and (max-width: 699px){
    .all-home-H{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .bord-post{
        border-right: none;
        border-left: none;
        height: 100%;
        width: 100%;
    }
}