.all-re{
    display: flex;
    justify-content: space-between;
}

.text-re{
    margin-top: 5rem;
    margin-left: 6rem;
}

.text-re h2{
    font-size: 3.3rem;
}

.text-re p:first-child{
    font-size: 1.9rem;
    font-weight: 600;
    margin-bottom:0;
}
.text-re p{
    font-size: 2.2rem;
    font-weight: 600;
    margin: 3.5rem 0;
}

.boys{
    margin-right: 6rem;
    margin-top: 3rem;
    width: 50em;
    height: auto;
    position: sticky;
    left: 55%;
    margin-bottom: 3rem;
}

@media (max-width: 950px){

    .all-re{
        display: flex;
        justify-content: space-between;
    }

    .text-re h2{
        font-size: 2.5rem;
    }
    
    .text-re p:first-child{
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom:0;
    }
    .text-re p{
        font-size: 1.8rem;
        font-weight: 600;
        margin: 2rem 0;
    }
    
    .boys{
        margin-top: 1rem;
        width: 45em;
       
    }

    #butt-regi{
        width: 7rem;
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }

}

@media (max-width: 560px){

    .all-re{
        display: flex;
        justify-content: center;
    }
    
    .text-re{
        text-align: center;
        margin-left: 0;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .text-re h2{
        font-size: 2.5rem;
    }
    
    .text-re p:first-child{
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom:0;
    }
    .text-re p{
        font-size: 1.8rem;
        font-weight: 600;
        margin: 2rem 0;
    }
    
    .boys{
        display: none;
       
    }

    #butt-regi{
        width: 7rem;
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }
}