.nav_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  position: fixed;
  z-index: 1;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.menu_icon{
 width: 3rem;
 object-fit: contain;
 margin-left: 1rem;
 /* position: fixed;
 left: 1%; */
}

.menu_open{
  position: fixed;
  left: 0%;
  top: 0%;
}

.menu_logo{
  object-fit: contain;
  margin-right: 1rem;
  /* position: fixed;
  right: 1%; */
}

.menu_logo img{
  width: 100%;
}

.nav_container > img:nth-child(1) {
  width: 3rem;
}


/* .nav_container > img {
  cursor: pointer;
  position: fixed;
  /* left: 3%;
  top: 2%;
} */


@media (min-width: 700px) {
  .nav_container {
    border-bottom: none;
    position: fixed;
    right: 1%;
    top: 1%;
    background-color: transparent;
  }

  .menu_logo{
    object-fit: contain;
    margin-right: 1rem;
    position: fixed;
    right: 1%;
  }

  .nav_container > img:nth-child(1) {
    display: none;
  }

}