.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  position: fixed;
  right: 3%;
  top: 1%;
}

.nav_container > img:nth-child(1) {
  width: 3rem;
}

.nav_container > img {
  cursor: pointer;
  position: fixed;
  left: 3%;
  top: 2%;
}


@media (min-width: 700px) {
  .nav_container {
    border-bottom: none;
    position: fixed;
    right: 1%;
    top: 1%;
  }

  .nav_container > img:nth-child(1) {
    display: none;
  }

}